{% extends "base.htm" %}
{% block page %}
<div class='container'>
  <div class='row'>
    <div class="col-md-8 col-md-offset-1">
      <div class="page-header">
        <h1><strong>AI-related masters</strong></h1>
      </div>

      <div class='row'>
        <div class="col-md-10">
          <h3>Masters in Groningen:</h3>
          <ul>
            <li><a href="#ai">Artificial Intelligence</a></li>
            <li><a href="#hmc">Human-Machine Communication</a></li>
            <li><a href="#bcn">Behavioural and Cognitive Neurosciences</a></li>
            <li><a href="#other">Other Masters</a></li>
          </ul>
        </div>
      </div>
      <div class='row'>
        <h2><a name="ai"></a>Artificial Intelligence</h2>
        <h4><i>Groningen Universiy</i></h4>
        <div class='col-md-2'><img
          class='img-responsive center-block logo'
          src="{{ static_url('/static/img/logo_rug.png') }}"
          width="300px"
          alt="RUG"/>
        </div>

        <div class='col-md-10'>
          <div style="float:left" class='text-justity'>
            <b>Duration of master:</b> 2 years (120 ECTS)<br />
            <b>City:</b> Groningen<br />
            <b>Language:</b> English<br />
            <b>Website:</b> <a href="https://www.rug.nl/masters/artificial-intelligence/">link</a><br />
            <b>Focus of the Master:</b> <br />
            <p>What is intelligent behaviour? How can computers recognize faces and objects? In this programme you will learn how to design and implement intelligent systems. The core topics in the Master's programme Artificial Intelligence are: autonomous perceptive systems, cognitive robotics and multi-agent systems.</p>
            <p>There are two specialisation options: Multi-Agent Systems and Computational Intelligence & Robtics. There is also an honours program in High Tech Systems and Materials which is organised in coorpation with large industries.</p>
              <b>Study Pogramme:</b> <br />
              <p>
                <u>Mandatory courses for all:</u> <br />
                - Machine Learning (5 ECTS)<br />
                - Deep Learning (5 ECTS)<br />
                - Multi-Agent Systems (5 ECTS)<br />
                - Final Research Project AI (Thesis) (45 ECTS)<br />
                <br />
                <u>Mandatory courses for Computational Intelligence & Robotics specialisation:</u> <br />
                - Pattern Recognition (5 ECTS)<br />
                - Robotics for AI (5 ECTS)<br />
                - Handwriting Recognition (5 ECTS)<br />
                <br />
                <u>Mandatory courses for Autonomous Perceptive Systems specialisation:</u> <br />
                - Arguing Agents (5 ECTS)<br />
                - Design of Multi-Agent Systems (5 ECTS)<br />
                - Cognitive Modelling: Basic Principles and Methods (5 ECTS)<br />
                <br />
                <u>Elective courses:</u><br />
                There are several elective courses which can be found on <a href="https://www.rug.nl/ocasys/fse/vak/showpos?opleiding=3681">Ocasys</a>, the course listing system used by the University of Groningen. 
              </p>
              <b>Entry Requirements:</b></br />                
                At least a Bachelor's degree in Artificial Intelligence or a relevant Bachelor's degree which includes all of the following six subjects:<br />
                - knowledge systems<br />
                - autonomous systems<br />
                - mathematics (discrete and continuous)<br />
                - statistics<br />
                - logics (set theory, predicate logic and modal logic) <br />
                - computer science (programming, data structures, search techniques, practical skills)<br />
                
                The admissions board determines whether the specific contents of your previous degree programme meet the admission requirements.<p>
                <br />
                <i>For more information about the degree check out the university's website <a href="https://www.rug.nl/masters/artificial-intelligence/">here</a>.</i>
            </div>
          </div>
        </div>

            <div class='row'>
        <h2><a name="hmc"></a>Human-Machine Communication</h2>
        <h4><i>Groningen Universiy</i></h4>
        <div class='col-md-2'><img
          class='img-responsive center-block logo'
          src="{{ static_url('/static/img/logo_rug.png') }}"
          width="300px"
          alt="RUG"/>
        </div>

        <div class='col-md-10'>
          <div style="float:left" class='text-justity'>
            <b>Duration of master:</b> 2 years (120 ECTS)<br />
            <b>City:</b> Groningen<br />
            <b>Language:</b> English<br />
            <b>Website:</b> <a href="https://www.rug.nl/masters/human-machine-communication/">link</a><br />
            <b>Focus of the Master:</b> <br />
            <p>How can we model human task performance? How do our brains combine visual and auditory information? What is the ideal interface for a tired air traffic controller?<br />
            The Master's degree programme in Human-Machine Communication (HMC) focuses on Cognitive Science and its applications. HMC provides you with insights into human cognition and teaches you to use this knowledge in applied settings, such as cognitive modelling, speech technology and human-computer interaction. By gaining knowledge of human cognition, you can improve the communication between humans and complex computer systems, build models of language development, or even develop complex models of users.</br>
            Two questions form the basis for this programme:<br />
             - <i>How does human cognition work?</i><br>
             - <i>How can we use this knowledge in applied settings</i></p>

              <b>Study Pogramme:</b> <br />
              <p>
                <u>Mandatory courses for all:</u> <br />
                - Formal Models of Cognition (5 ECTS)<br />
                - Advanced Statistical Modelling (5 ECTS)<br />
                - Cognitive Modelling: Basic Principles and Methods (5 ECTS)<br />
                - First-year Research Project (15 ECTS)<br />
                - Final Research Project HMC (Thesis) (45 ECTS)<br />
                <br />
                <u>Mandatory courses for Cognitive Engineering specialisation:</u> <br />
                - Cognitive Engineering (5 ECTS)<br />
                - User Models (5 ECTS)<br />
                - Neuro-ergonomics (5 ECTS)<br />
                <br />
                <u>Mandatory courses for Cognitive Language Modeling specialisation:</u> <br />
                - Language Modelling (5 ECTS)<br />
                - Computational Simulations of Language (5 ECTS)<br />
                - Language Technology Project (5 ECTS)<br />
                <br />
                <u>Mandatory courses for Cognitive Modelling specialisation:</u> <br />
                - User Models (5 ECTS)<br />
                - Cognitive Modelling: Complex Behaviour (5 ECTS)<br />
                - Computational Cognitive Neuroscience (5 ECTS)<br />
                <br />
                <u>Mandatory courses for Computational Cognitive Neuroscience specialisation:</u> <br />
                - Machine Learning (5 ECTS)<br />
                - Cognitive Modelling: Complex Behaviour (5 ECTS)<br />
                - Computational Cognitive Neuroscience (5 ECTS)<br />
                <br />
                <u>Elective courses:</u><br />
                There are several elective courses which can be found on <a href="https://www.rug.nl/ocasys/fwn/vak/showpos?opleiding=2682">Ocasys</a>, the course listing system used by the University of Groningen. 
              </p>

              <b>Entry Requirements:</b></br />                
                <p>A Bachelor's degree in Artificial Intelligence, Psychology or a relevant degree including the following subjects:Artificial Intelligence, Cognitive Psychology or Cognitive Science, Statistics and Research methods, practical skills in Programming.<br />
                
                The admissions board determines whether the specific contents of your previous degree programme meet the admission requirements.</p>
                <br />
                <i>For more information about the degree check out the university's website <a href="https://www.rug.nl/masters/human-machine-communication/">here</a>.</i>
            </div>
          </div>
        </div>

        <div class='row'>
        <h2><a name="bcn"></a>Behavioural and Cognitive Neurosciences</h2>
        <h4><i>Groningen Universiy</i></h4>
        <div class='col-md-2'><img
          class='img-responsive center-block logo'
          src="{{ static_url('/static/img/logo_rug.png') }}"
          width="300px"
          alt="RUG"/>
        </div>
        <div class='col-md-10'>
          <div style="float:left" class='text-justity'>
            <b>Duration of master:</b> 2 years (120 ECTS)<br />
            <b>City:</b> Groningen<br />
            <b>Language:</b> English<br />
            <b>Website:</b> <a href="https://www.rug.nl/masters/behavioural-and-cognitive-neurosciences-research/">link</a><br />
            <b>Focus of the Master:</b> <br />
            <p>Are you interested in the neural basis of cognition, the mechanisms of neurodegeneration or the evolution of behaviour? In this programme, you can study the function and mechanisms of the brain and behaviour from three different perspectives:<br>
            - Animal and Human Behavioural Neurosciences (B-track)<br>
            - Cognitive Neuroscience and Cognitive Modelling (C-track)<br>
            - Molecular and Clinical Neuroscience (N-track)</p><br>
              <b>Study Pogramme:</b> <br />
              <p>
                <u>Mandatory courses for all:</u> <br />
                - Introduction to the Behavioural and Cognitive Neurosciences (4 ECTS)<br />
                - Career Related Topics (3 ECTS)<br />
                - BCN Summer Symposium (1 ECTS)<br />
                - Colloquium (3 ECTS)
                - Research Project (Minor Thesis) (49 ECTS)<br />
                <br />
                For all other elective courses and courses relating to a specific track check out the <a href="https://www.rug.nl/ocasys/fse/vak/showpos?opleiding=4566">website</a> for more detail.
              </p>
              <b>Entry Requirements:</b></br />
              <p>A Bachelor's degree in the Life Sciences, (Molecular) Biology, Medicine, Artificial Intelligence, Psychology or related programmes. The Admissions Board determines whether the content of the previous degree programme meets the admission requirements.<br />
              There are several other admissoin requirements so it is best to check the <a href="https://www.rug.nl/masters/behavioural-and-cognitive-neurosciences-research/admission-and-application">website</a> for the specifics.</p>
                <i>For more information about the degree check out the university's website <a href="https://www.rug.nl/masters/behavioural-and-cognitive-neurosciences-research/">here</a>.</i>
            </div>
          </div>
        </div>

        <div class='row'>
        <h2><a name="other"></a>Other Masters</h2>
        <h4><i>Groningen Universiy</i></h4>
        <div class='col-md-2'><img
          class='img-responsive center-block logo'
          src="{{ static_url('/static/img/logo_rug.png') }}"
          width="300px"
          alt="RUG"/>
        </div>
        <div class='col-md-10'>
          <div style="float:left" class='text-justity'>
          <p>There are two other masters that students with a BSc in Artificial Intelligence can do but they are not specifically realted to AI. They are the Masters in <a href="https://www.rug.nl/masters/information-science/programme">Information Science</a> and the Master in <a href="https://www.rug.nl/masters/science-education-and-communication/?lang=en">Science Education and Communication</a>. With Information Science you will learn how to build intelligent systems and the best way to display information to a user. The Masters in ScienceEducation and Communication focuses on how to teach and explain science to a wider audience.</p>
            <i>For more information about the Master in Inforamtion Science check out the university's website <a href="https://www.rug.nl/masters/information-science/">here</a>.</i><br>
              <i>For more information about the Master in Science Education and Communication check out the university's website <a href="https://www.rug.nl/masters/science-education-and-communication/">here</a>.</i>
          </div>
          </div>
        </div>

      </div>
    </hr>
  </div>
</div>

{% endblock page %}
